.container{
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../../public/wallPaper.jpg');
    padding: 2rem;
}

.title{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 300px;
    font-size: 1rem;
} 
.button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: #0056b3;
}

.button-reset{
    background-color: #dc3545;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-reset:hover{
    background-color: #c82333;
}

.notFound{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}
.navControls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.buttonNav{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttonNav:hover{
    background-color: #0652a3;
}
.buttonNav:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px #007BFF;;
}

.buttonNav:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}
.pageIndicator{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 425px) {
    .searchContainer{
        display: flex;
        flex-direction: column;
    }
    .navControls {
        flex-direction: column; 
        gap: 0.5rem; 
    }

    .pageIndicatorContainer {
        order: 1; 
        text-align: center; 
    }

    .buttonNav {
        width: 100%; 
    }
}